<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name=".FamilyTVApplication"
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@drawable/banner"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.FamilyTV"
        android:usesCleartextTraffic="true"
        tools:targetApi="n">

        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.detail.DetailActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name=".presentation.player.PlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.FamilyTV.Player" />

        <activity
            android:name=".presentation.search.SearchActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>
